body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  height: 30vh;
  width: 10vw;
  display: inline-grid;
  background-color: blue;
  margin-left: 10px;
  margin-right: 10px;
}

.allySector {
  margin-top: 50px;
}

.enemySector {
  margin-top: 50px;
}

.infoBox {
  margin-left: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
