body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card{
  margin-left: 40px;
  height: 30vh;
  width: 10vw;
  display: inline-block;
  background-color: blue;
  border-width: medium;
  border-color: white;
  border-style: solid;
}

.wsector{
  margin-top: 5px;
}

.bsector{
  margin-top: 100px;
}
